@tailwind base;
@tailwind components;
@tailwind utilities;

ul {
   list-style-type: disc;
   margin-left: 30px;
}

ol {
   list-style-type: decimal;
   margin-left: 30px;
}

@layer components {
   .modalInput {
      @apply py-2 px-3 focus:outline-none bg-gray-200 rounded-lg text-black font-sans;
   }
   .formBlock {
      @apply border-b-[1px] border-gray-400;
   }
}
